.w50 {
    width: 50% !important;
}

.w25 {
    width: 25% !important;
}

a.bannerimage-invitation {
    background-image: url(../images/invitation1.jpg) !important;
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}

.mt25 {
    margin-top: 25px !important;
}

.resizenone {
    resize: none;
}

a.editicon {
    float: right;
    font-size: 17px !important;
    padding: 11px 14px;
    background: #279acd;
    color: #fff;
    font-weight: 900;
    border-radius: 50px;
    margin-top: 12px;
}

.brline {
    border-right: 1px solid #eee;
}

.organiseradd-btn {
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}






/*PRO TOURNAMENTS MAIN ADMIN CSS STARTS HERE*/

.w100 {
    width: 100% !important;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 900;
        position: fixed;
        width: 100%;
        top: 68px;
        height: auto;
        overflow: visible;
        transition: 0.05s ease-in;
    }
}

.logo-name {
    font-size: 14px;
    font-weight: 500;
    color: #f0555e;
}

.pl0 {
    padding-left: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.status-new {
    font-size: 13px;
    background: #33b86c;
    color: #fff;
    padding: 1px 10px;
    border-radius: 5px;
}

.status-edit {
    font-size: 13px;
    background: #f0555e;
    color: #fff;
    padding: 1px 10px;
    border-radius: 5px;
}

.table-viewmorebtn {
    padding: 5px 10px;
    border: 1px solid #2cabe3;
    background: #2cabe3;
    color: #fff;
    font-weight: 500;
    /*float: right;*/
    margin-right: 8px;
}

.accept-btn {
    width: 70%;
    padding: 5px 10px;
    border: 1px solid #33b86c;
    background: #33b86c;
    color: #fff;
    font-weight: 500;
    margin-right: 8px;
    margin-top: -10px;
}

.accepted-btn {
    width: 70%;
    padding: 5px 10px;
    border: 1px solid #f0555e;
    background: #f0555e;
    color: #fff;
    font-weight: 500;
    margin-right: 8px;
    margin-top: -10px;
}

.addcategory-btn {
    float: right;
    font-size: 17px !important;
    padding: 11px 14px;
    background: #F0555E;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

.p0{
    padding: 0px !important;
}
a.sports-bannerimage1 {
   /* background-image: url(../images/tournament1.jpg) !important;*/
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}
a.sports-bannerimage2 {
    background-image: url(../images/sports1.jpg) !important;
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}
a.sports-bannerimage3 {
    background-image: url(../images/sports2.jpg) !important;
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}
a.sports-bannerimage4 {
    background-image: url(../images/sports3.jpg) !important;
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}
a.sports-bannerimage5 {
    background-image: url(../images/sports4.jpg) !important;
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}
a.sports-bannerimage6 {
    background-image: url(../images/tournament1.jpg) !important;
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}
.mt0{
    margin-top: 0px !important;
}

/*PRO TOURNAMENTS MAIN ADMIN CSS ENDS HERE*/